*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(29, 96, 213,.8),rgba(29,96,150,.4)),url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #3B7FDA; */
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}
/***********************HEADER***********************/
header {
    text-align: center;
    left: 45%;
    top: 15%;
    position: absolute;
    line-height: 1.2;
}
/***********************INPUT***********************/
.input-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
}
/***********************FOOTER***********************/
footer {
    position: absolute;
    top: 60%;
    display: flex;
    width: 25%;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: yellow; */
    height: 200px;
}

/***********************HEADER STYLING***********************/

header p {
    color: #fff;
    padding: 14px 0;
}

header h1 {
    color: #fff;
    font-weight: 500;
}

/***********************INPUT STYLING***********************/
.input-box input {
    padding: 10px 120px 10px 40px;
    border-radius: 30px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, .3);
}

.input-box .eye{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8%;
    left: 5%;
    align-items: flex-start;
}

.input-box .eye i.fa-solid.fa-user{
    color: #fff;
    padding-bottom: 42px;
}

.input-box .eye i.fa-solid.fa-lock{
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box button {
    padding: 10px 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #CEDFF4;
    font-size: 15px;
    font-weight: 500;
}

/***********************FOOTER STYLING***********************/

footer .group{
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 5px;
    justify-content: space-between;
    /* background-color: red; */
}

footer .group .left label {
    font-size: 14px;
    color: #fff;
}

footer .group .left input {
    margin-right: 8px;
    padding: 15px 0;
    border:  none;
    outline: none;
}

footer .group .right a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}




/*********************************************** MEDIA QUERY *************************************************/

@media only screen and (max-width: 600px) {
    /* CSS rules for phone screens */
   header {
    left: auto;
    /* border: 2px solid red; */
    line-height: 0.8;
   
   }

   header h1 {
    font-size: 2rem;
   }

   footer .group {
    margin-block-start: 50px;
    display: inline-block;
   }

    /* Add other styles as needed */
}




























/****What the lord has done for us we cannot tell it all, his goodness endures for ever more
Jesus is the only way, the truth and the life no one comes to the father except through him.*****/